#title{
    font-size:200%;
    text-align:center;
    color:whitesmoke;
    font-weight:bolder;
    font-style:italic;
}
body{
    /*background-color:#5c6e80;*/
    background-image: url("../Pictures/BackgroundImage.jpg");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}    

.credits {
    font-size:175%;
    color:whitesmoke;
    font-weight: bold;
    text-align: center;
}

.empasis{
    color:rgb(145, 207, 126);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

.div-pack-for-style {
    margin: 20px;
    color: whitesmoke;
}

.floattext {
    float: right;
}

.kewaibot {
    width: 70%;
    font-weight: bolder;

}

.freedback-customer {
    text-align: center;
    font-weight: bolder;
    padding: 15px;
}

.zglasses {
    width: 48%;
    font-weight: bolder;
}

/* the code below is entirely for the header of the pages dont touch */

.headerimage {
    margin: 10px;
    text-align: center;
}

.MainPageLogo {
    padding: 50px;
}

.headerstyle {
    background-image: url("../Pictures/BackgroundImage.jpg");
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    text-align: center;
}

.links {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: auto;
}

.dropdown {
    display: inline-block;
    width: auto;
    
}

.dropdown .dropbutton {
    border: black;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-size: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: whitesmoke;
    text-align: center;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.dropdown-content a {
    float: center;
    padding: 25px;
    margin: 10px;
    
}

.dropbutton:hover {
    transform: rotate(180deg);
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    width: auto;
    text-align: auto;
}


/* here is everything related to the Main page introduction banner style and maybe for other products as well */

.logoleft {
    float: left;
    margin: 15px;
    border: 20px;
    word-break: break-all;
    
}

.dropdown-intro {
    border: solid transparent;
    outline: none;
    color: inherit;
    /*background-color: #495c6e;*/
    font-size: inherit;
    margin-top: 5%;
    width: 50%;
}

.dropdown-intro-content {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: inherit;
    /*background-color: #495c6e;*/
    color: whitesmoke;
    text-align: center;
    left: 53%;
    right: auto;
    transform: translateX(-70%);
    padding: 7px;
}

.dropdown-intro:hover .dropdown-intro-content  {
    display: block;
    position: absolute;
    width: 50%;
    text-align: center;
}


.links-intro {
    text-decoration: none;
    color: yellowgreen;
}


